* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #18191b;
}

header {
  width: 100%;
  height: 5rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(100, 220, 204), rgb(74, 120, 204));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Solway", serif;
}

.Imgs {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.Todos {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  background-color: #41403e;
  margin-bottom: 0.5rem;
}

.Todos div {
  width: 30%;
  text-align: center;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.6rem;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Roboto", sans-serif;
}

.CarritoIcon {
  display: flex;
  align-items: center;
}

.Menu svg {
  width: 40%;
  height: 50%;
}

.CarritoIcon svg {
  width: 100%;
  height: 50%;
  align-items: center;
}

.Otros {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.Otros p {
  text-align: center;
  padding: 0.2rem;
  color: #cccccc;
  /* border-right: 1px solid black; */
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Solway", serif;

  border: 1px solid #cccc;
  border-radius: 20px;
}

.Otros p:active {
  background-color: #ccc;
  color: #41403e;
}

#Tegnologia {
  /* border-right: 1px solid black; */
}

#Otros {
  text-align: center;
  /* border-left: 1px solid black; */
}

.Sva svg {
  display: none;
}

.Nav {
  width: 50%;
  height: calc(100vh - 5rem);
  position: absolute;
  background-color: rgb(249, 249, 249);
  top: 0%;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #41403e;
}

.Nav p {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  color: #ccc;

  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Solway", serif;
}

.Nav p::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -0.8rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: black;
}

.Nav p:active {
  color: rgb(184, 32, 32);
}

.Carrito {
  width: 50%;
  height: calc(100vh - 5rem);
  position: absolute;
  background-color: rgb(249, 249, 249);
  top: 0%;
  right: 0%;
  transform: translateX(100%);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 4px 5px 11px -1px rgba(166, 166, 166, 1);
  -moz-box-shadow: 4px 5px 11px -1px rgba(166, 166, 166, 1);
  box-shadow: 4px 5px 11px -1px rgba(166, 166, 166, 1);
}

.CierraCard {
  width: 100%;
  height: 3.8rem;
  display: flex;
  position: fixed;
  z-index: 1000;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.CierraCard svg {
  width: 2rem;
}

.Modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(49, 49, 49, 0.384);
  opacity: 0;
  pointer-events: none;
  transform: all 1s;
}

.Modal-conten {
  width: 50%;
  height: 5rem;
  background-color: aliceblue;
  position: relative;
}

.TodoEnModal {
  width: 27rem;
  height: 34rem;
  background-color: #9b9b9b;
  border-radius: 20px;
}

.MoreClose {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}

.MoreClose p {
  margin-top: 10px;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bolder;
}

.CloseModal {
  width: 10%;
  height: 10%;
  margin-top: 5px;
  margin-right: 5px;
}

.ModalVer {
  opacity: 1;
  pointer-events: auto;
}

.MoreInfo {
  width: 100%;
  height: 80%;
}

.MoreInfo article {
  width: 100%;
  height: 100%;
}

.MoreInfo article figure {
  width: 50%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.ModalTodo {
  display: flex;
  justify-content: space-evenly;
}

.Aler {
  background-color: rgb(164, 62, 62);
}

.VColor {
  background-color: rgb(164, 62, 62);
}

.DatoModal {
  margin-bottom: 2rem;
}

.EstadoModal {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.BotonesModal {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.bold {
  font-weight: bold;
}
/*-----------------------------------------------*/

.CarritoDentro {
  width: 3rem;
}

.CloseCard {
  width: 3rem;
}

.ObjCard {
  width: 100%;
  height: 80%;
  overflow-x: hidden;
  margin-top: 4rem;
  margin-bottom: 10px;
  background-color: #41403e;
}

.Obj {
  width: 100%;
  height: 7rem;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.Obj figure {
  width: 60%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

.CardObj {
  width: 100%;
  height: 50%;
  display: flex;
}

.CardDesc {
  display: flex;
  justify-content: space-around;
}

.CardDesc p {
  font-weight: bold;
}

.CardBoton {
  display: flex;
  justify-content: space-evenly;
}

.G {
  background-color: rgb(132, 181, 132);
}

.R {
  background-color: rgb(164, 62, 62);
}

/*-*/

.View {
  transform: translateX(0);
}

.Close {
  width: 100%;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.Close svg {
  width: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Esta {
  display: none;
}

/*-*/

main {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-row-gap: 2rem;
  margin-bottom: 1rem;
}

/*--------------------------------------------------------*/

.Category {
  grid-column: 1 / -1;
  color: #cccccc;

  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Solway", serif;
}

#Producto {
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;
  height: 260px;
  background-color: #41403e;
  -webkit-box-shadow: 4px 5px 11px -1px rgb(30, 30, 30);
  -moz-box-shadow: 4px 5px 11px -1px rgb(41, 41, 41);
  box-shadow: 4px 5px 11px -1px rgb(27, 27, 27);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.Ima {
  width: 100%;
  height: 60%;
  margin-bottom: 0.2rem;
}

.Data {
  width: 100%;
  height: 40%;
}

.Name {
  text-align: center;
  font-weight: bold;
  color: #cccccc;
  font-size: 0.9rem;

  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Solway", serif;
}

.Precio {
  font-weight: bold;
  text-align: center;
  color: rgb(132, 181, 132);
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.Botones {
  display: flex;
  justify-content: center;
}

.Boton {
  padding: 0.3rem 0.6rem;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  border: none;
}

.Buton-G {
  margin-left: 0.2rem;
  background-color: rgb(132, 181, 132);
}

.Buton-R {
  margin-right: 0.2rem;
  background-color: rgb(164, 62, 62);
}

footer {
  width: 100%;
  border-top: 1px solid rgb(164, 164, 164);
  text-align: center;
  padding: 0.3rem;
}

a {
  color: #cccccc;
  text-decoration: none;
  cursor: pointer;
}

/*---------------------*/

@media screen and (min-width: 780px) {
  .CarritoDentro {
    width: 12%;
  }

  .CloseCard {
    width: 12%;
  }
}

@media screen and (min-width: 1000px) {
  #Tegnologia {
    border-right: none;
  }

  #Otros {
    border-left: none;
  }

  .Todos {
    background-color: #41403e;
  }

  header {
    background-color: #18191b;
  }
  .Menu {
    display: none;
  }

  .Header {
    width: 82%;
    margin-left: 18%;
  }

  .Sva {
    width: 60%;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    cursor: pointer;
  }

  .Sva svg {
    display: flex;
    width: 2rem;
    color: #cccccc;
  }

  .Sva:hover {
    background-color: #cccccc;
    border-radius: 20px;
    padding: 0.2rem;
  }

  .Sva:hover p {
    color: #41403e;
  }

  .Sva:hover svg {
    color: #41403e;
  }

  .Logo {
    margin-left: 35%;
    justify-content: center;
  }

  Main {
    width: 70%;
    margin-left: 25%;
    margin-top: 3.5rem;
  }

  .Pointer {
    cursor: pointer;
  }

  .Otros {
    width: 18%;
    min-height: 100vh;
    position: fixed;
    background-color: #41403e;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;
    border-right: 1px solid rgb(0, 0, 0);
  }

  .Otros p {
    font-size: 1.2rem;
    color: #cccccc;

    border: none;
  }

  .Nav {
    width: 70%;
    height: 2%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    transform: translateX(35%);
    box-shadow: none;
  }

  .Nav p {
    font-size: 0.8rem;
    color: #cccccc;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-weight: bold;
    border: 1px solid #cccccc;
    border-radius: 25px;
    cursor: pointer;
  }

  .Nav p:hover {
    color: #41403e;
    background-color: #cccccc;
  }

  .Nav p::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -0.8rem;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: transparent;
  }

  .center {
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    background-color: #18191b;
  }

  .Carrito {
    width: 25%;
  }

  .Obj {
    height: 8rem;
  }

  .CarritoDentro {
    width: 12%;
  }

  .CloseCard {
    width: 12%;
  }

  .Esta {
    text-align: center;
    display: none;
    font-size: 25px;
    font-weight: bold;
  }

  .Close {
    display: none;
  }

  .Boton:hover {
    color: rgb(0, 0, 0);
  }
}
